<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block javascripts %}              
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
             <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {% endblock %}
        {% block stylesheets %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('homepage') }}">Mon Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
      <li><a href="{{ path('pres') }}">Presentation</a></li>
      <li><a href="{{ path('contact') }}">Contact</a></li>
      <li><a href="{{ path('ajouter') }}">Ajouter</a></li>
      
      
    </ul>
  </div>
</nav>
<br><br>


        {% block body %}{% endblock %}




        <footer class=" bg-gradient-dark text-white"   style="margin-top : 600px; background: silver">
        <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        
    </div>
    <div class=" text-right" >
    <a href="{{ path('donner') }}"> Administration </a>
    </div>
    <!--/.Copyright-->

</footer>
      
    
</html>
