{% extends 'base.html.twig' %}



{% block body %}  
<div class="jumbotron text-center">
  <h1>Page Ajout</h1>  
</div>
<div class="container">
{{ form_start(form) }}


<div class="form-group">
{{ form_label(form.nom, "Votre Nom : ") }}
{{ form_errors(form.nom) }}
{{ form_widget(form.nom) }}
</div>
<div class="form-group">
{{ form_label(form.prenom, "Votre Preom : ") }}
{{ form_errors(form.prenom) }}
{{ form_widget(form.prenom) }}
</div>
{{form_row(form.age)}}
<div class="form-group">
</div>

{{ form_end(form) }}



{# {{ form(form) }} #}
</div>
{% endblock %}