
{% extends 'base.html.twig' %}
{% block body %}  
<div class="container">
<form>
<div class="form-group">
    <label for="exampleFormControlInput1">Votre Nom</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nom et Prenom ">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>   
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>
</div>
{% endblock %}