{% extends 'base.html.twig' %}



{% block body %}  
<div class="jumbotron text-center">
  <h1>Liste des stagiaires</h1>  
</div>
<br><br><br>
<div class="container">
<table class="table table-hover table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>    
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Age</th>
      <th scope="col">Mail</th>
      <th scope="col">Adresse</th>
      <th scope="col">Présence</th>
      <th scope="col">Description</th>  
      <th scope="col" colspan="2" class="text-center"> Action</th>    
    </tr>
  </thead>
  <tbody>
  {% for stag in stagaires %}
  <tr>
    <th>
      {{ stag.id }}
    </th>
    <td>
        {{ stag.nom }}
    </td>
    <td>
        {{ stag.prenom }}
    </td>
    <td>
        {{ stag.age }}
    </td>
    <td>
        {{ stag.email }}
    </td>
    <td>
        {{ stag.adresse }}
    </td>
    <td>
        {% if(stag.presence)%}
        <span class="glyphicon glyphicon-ok text-success"></span>             
        {% else %}
        <span class="glyphicon glyphicon-remove text-danger"></span>          
        
         {% endif %}
        
    </td>
    <td>
       {{ stag.disc }}
    </td>
    <td>
    <a href="{{ path('editer',{ id:stag.id }) }}" class="btn btn-primary">Editer</a>
    </td>
     <td>
    <a href="{{ path('donnersupp',{ id:stag.id }) }}"" class="btn btn-danger">Supprimer</a>
    </td>
  </tr>
  {% endfor %}
  </tbody>
 </table>
 </div>
{% endblock %}