{% extends 'base.html.twig' %}



{% block body %} 
<div class="jumbotron text-center">
  <h1>Page Modification</h1>
  </div><br><br><br><br>
  </div> 
  <div class="container">
    {{ form(form) }}
</div>
{% endblock %}