{% extends 'base.html.twig' %}



{% block body %}  
<div class="jumbotron text-center">
  <h1>Page Presentation</h1>
  <p>Note: All of the examples on this page will show a navigation bar that takes up too much space on small screens (however, the navigation bar will be on one single line on large screens - because Bootstrap is responsive). This problem (with the small screens) will be solved in the last example on this page.</p> 
</div>
{% endblock %}